<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @donor.username %>
</p>
<p>
  <b>Password:</b>
  <%= @donor.password %>
</p>
<p>
  <b>FirstName:</b>
  <%= @donor.fname %>
</p>
<p>
  <b>LastName:</b>
  <%= @donor.lname %>
</p>
<p>
  <b>Email:</b>
  <%= @donor.email %>
</p>
<p>
  <b>Street1:</b>
  <%= @donor.street1 %>
</p>
<p>
  <b>Street2:</b>
  <%= @donor.street2 %>
</p>
<p>
  <b>City:</b>
  <%= @donor.city %>
</p>
<p>
  <b>State:</b>
  <%= @donor.state %>
</p>
<p>
  <b>PostalCode:</b>
  <%= @donor.postal_code %>
</p>
<p>
  <b>display_name:</b>
  <%= @donor.display_name %>
</p>


<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', donors_path %>
