
<%= link_to 'New Champion', new_champion_path %>
<br>
<%= link_to 'Sign up your charity', new_charity_path %>

<h1>Listing fundraisers</h1>

<table>
  <tr>
	<th>Champion</th>
    <th>Title</th>
    <th>Description</th>
    <th>Goal</th>
    <th>Deadline</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fundraisers.each do |fundraiser| %>
  <tr>
	<td><%= fundraiser.champion_id %></td>
    <td><%= fundraiser.title %></td>
    <td><%= fundraiser.description %></td>
    <td><%= fundraiser.goal %></td>
    <td><%= fundraiser.deadline %></td>
    <td><%= link_to 'Show', fundraiser %></td>
  </tr>
<% end %>

</table>

<br />

