<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Year:</b>
  <%= @event.year %>
</p>

<p>
  <b>Month:</b>
  <%= @event.month %>
</p>

<p>
  <b>Day:</b>
  <%= @event.day %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time %>
</p>

<p>
  <b>Champion:</b>
  <%= @event.champion %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
