<p id="notice"><%= notice %></p>

<!--Twitter share-->
<script type="text/javascript">
    function TweetWindow() {
        var tweetText = document.getElementById('tweet_text');
        window.open("http://twitter.com/intent/tweet?text=" + encodeURI(tweetText.value).replace(/#/g,"%23"), "", "");
    }
</script>
<!--//Twitter share-->

<%=link_to "Create fundraiser", new_fundraiser_path(:champion => @champion.id) %>
<p>
  <b>Username:</b>
  <%= @champion.username %>
<br>
  <b>Fname:</b>
  <%= @champion.fname %>
<br>
  <b>Lname:</b>
  <%= @champion.lname %>
<br>
  <b>City:</b>
  <%= @champion.city %>
<br>
  <b>State:</b>
  <%= @champion.state %>
<br>
  <b>Twitter Handle:</b>
  <%= @champion.twitter_handle %>
<br>
  <b>Email:</b>
  <%= @champion.email %>
<br>
  <b>Password:</b>
  <%= @champion.password %>
</p>

<p>
  <b>Fundraisers:</b>
  <table>
	<tr>
		<th>Tell your friends!</th>
		<th>Title</th>
		<th>Charity</th>
		<th>Description</th>
		<th>Goal</th>
		<th>Deadline</th>
	</tr>

  <% @fundraisers.each do |fr| %>
  	<tr>
		<td><%= text_area_tag 'tweet_text', 'I just started a fundraiser!', cols: 30, rows: 3 %> <a href="#" onclick="TweetWindow();"><%= image_tag "twitter_share.png"%></a></td>
		<td><%= link_to fr.title, fundraiser_path(fr.id) %></td>
		<td><%= fr.charity %></td>
		<td><%= fr.description %></td>
		<td><%= fr.goal %></td>
		<td><%= fr.deadline %></td>
	</tr>
  <% end %>
  
  </table>
</p>

<%= link_to 'Edit', edit_champion_path(@champion) %> |
<%= link_to 'Back', champions_path %>
