<h1>Listing champions</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Fname</th>
    <th>Lname</th>
    <th>City</th>
    <th>State</th>
    <th>Twitter Handle</th>
    <th>Email</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @champions.each do |champion| %>
  <tr>
    <td><%= champion.username %></td>
    <td><%= champion.fname %></td>
    <td><%= champion.lname %></td>
    <td><%= champion.city %></td>
    <td><%= champion.state %></td>
    <td><%= champion.twitter_handle %></td>
    <td><%= champion.email %></td>
    <td><%= champion.password %></td>
    <td><%= link_to 'Show', champion %></td>
    <td><%= link_to 'Edit', edit_champion_path(champion) %></td>
    <td><%= link_to 'Destroy', champion, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Champion', new_champion_path %>
